[submodule "backend"]
	path = backend
	url = https://github.com/kaizzzoku/dust-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Spanri/dust-frontend.git
[submodule "admin"]
	path = admin
	url = git@github.com:kaizzzoku/dust-admin-panel.git
