[submodule "backend"]
	path = backend
	url = https://github.com/Dust-Games/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/Dust-Games/frontend.git
[submodule "admin"]
	path = admin
	url = https://github.com/Dust-Games/admin.git
